/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    background: #fafafa; 
    font-family: 'Quicksand', sans-serif; 
    line-height: 1.3em;
    color: #3a3a3a;
}

p {
    font-size: 15px; 
    font-weight: 300; 
    margin-bottom: 30px; 
}

a {
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.8em; 
    text-transform: uppercase; 
    color: #4a4a4a;
    letter-spacing: 2px;
}

h4 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800; 
    margin-bottom: 40px; 
    text-align: center;
    letter-spacing: 2px; 
}


img {
    max-width: 100%; 
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name { 
    text-align: center;
    margin-bottom: 40px; 
}

.main-nav {
    margin-top: 5px;
}

.main-nav a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    background: #ffffff;
    margin-bottom: 5px;
}

.main-nav a:hover {
    color: #ff0000; 
}

/* ---- Layout Containers ---- */

.about {
    display: block; 
    text-align: center; 
    width: 100%; 
    margin: 0 auto; 
}

.skills, .contact {
    margin-bottom: 40px; 
}

.skills {
    background-color: #b3b3b3;
    padding-top: 30px;
    padding-bottom: 50px; 
}


.container {
    text-align: center;
}

.main-header {
  padding: 1em; 
}


footer {
    padding: 1em; 
    background-color: #107896;
    height: 80px; 
}

/* ---- Page Elements ---- */

.profile-photo {
    width: 70%;
    margin-top: 40px; 
    margin-bottom: 20px; 
}


h3 {
    margin: 0; 
    float: left;
    height: 12px;
    line-height: 12px; 
}

.footer-nav {
    margin: 0; 
}

.full {
    display: none; 
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    
    .top {
        display: none; 
    }
    
    .full {
        display: inline-block; 
    }

}

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

@media (min-width: 1024px) {



    .top {
        display: none; 
    }
    
    .full {
        display: inline-block; 
    }
   

    

}
