/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    background: #fafafa; 
    font-family: 'Quicksand', sans-serif; 
    line-height: 1.3em;
    color: #3a3a3a;
}

p {
    font-size: 15px; 
    font-weight: 300; 
    margin-bottom: 30px; 
}

a {
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.8em; 
    font-weight: 800; 
    text-transform: uppercase; 
    color: #4a4a4a;
    letter-spacing: 2px;
}

h4 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800; 
    margin-bottom: 40px; 
    text-align: center;
    letter-spacing: 2px; 
}


img {
    max-width: 100%; 
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name { 
    text-align: center;
    margin-bottom: 1.3em; 
}

.main-nav {
    margin-top: 5px;
}

.main-nav a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    background: #ffffff;
    margin-bottom: 5px;
}

.main-nav a:hover {
    color: #ff0000; 
}

/* ---- Layout Containers ---- */

.about, 
.section {
    display: block; 
    text-align: center; 
    width: 100%; 
    margin: 0 auto; 
    padding: 1em 1em 2em 1em; 
}

.container {
    text-align: center;
}

.main-header {
  padding-top: 1em;
  padding-bottom: 1em; 
  padding-left: 1em; 
  padding-right: 1em; 
}


.featured-projects {
    background-color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
}



/* ---- Page Elements ---- */

.profile-photo {
    width: 70%;
    margin-top: 40px; 
    margin-bottom: 20px; 
}

.project {
    margin-bottom: 40px; 
    padding-left: 1em;
    padding-right: 1em; 
}


.footer-name {
    float: left; 
    font-weight: bold; 
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    .container {
        margin: 0 auto; 
    }

    .main-header {
        text-align: center; 
    }

    nav li {
        display: inline-block; 
    }

    .main-nav a {
        display: block;
        text-align: center;
        padding: 10px 15px;
        background: #fafafa;
    }

    .profile-photo {
        float: right; 
        width: 50%;
        padding-left: 20px; 
        margin: 0; 
    }

    .about {
        text-align: left; 
        margin-top: 40px; 
    }

    .first {
        float: left; 
        width: 50%; 
    }

    .second {
        float: right;
        width: 50%; 
    }

    .back-to-top {
        display: none; 
    }

    .footer-nav {
        float: right; 
        margin-top: 15px; 
    }

    .footer-nav a {
        padding: 10px 15px;
    }


}

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

@media (min-width: 1024px) {

    .container {
        max-width: 1200px; 
    }

    footer {
        position: absolute;
        width: 100%;
        background-color: #107896; 
        padding: 20px;  
    }

    .footer-name {
        float: left; 
        height: 12px; 
        line-height: 12px;
    }

    .footer-nav {
        text-align: right; 
    }

    .full {
        display: inline-block; 
        padding-right: 20px; 
    }



   

}
